<!-- <p>course-form works!</p> -->

<form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
  <div class="form-group col-md-6">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      ngModel
      #titleRef="ngModel"
      required
    />
    <!-- minlength="3" -->
  </div>
  <div class="alert alert-danger" *ngIf="titleRef.dirty && titleRef.invalid">
    <!-- *ngIf="titleRef.dirty && titleRef?.errors?.minlength" -->
    title is Required
  </div>
  <div class="form-group col-md-6">
    <label for="instructor">Instructor</label>
    <input
      type="text"
      class="form-control"
      name="instructor"
      ngModel
      #instractorRef="ngModel"
      required
    />
  </div>
  <div
    class="alert alert-danger"
    *ngIf="instractorRef.dirty && instractorRef.invalid"
  >
    Instructor is Required
  </div>

  <div class="form-group col-md-6">
    <input type="checkbox" class="form-check-input" name="isAvailabel" />
    <label for="isAvailabel" class="form-check-label">Availabel</label>
  </div>

  <button class="btn btn-primary" type="submit">save</button>
</form>
